p.center {
    text-align: center;
    color: black;
}
p.large {
    font-size: 300%;

}

 a {
    color: rgb(22, 16, 1);

}
 form {
       background-color: pink;
 }
body {
    background:  url("a-blurry-image-of-a-wet-road-with-a-misty-sky-in-the-background-free-photo.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
   
}

